<div class="container py-5">
  <h3 class="text-center mt-4 mb-5">
En esta sección encontrarás todo lo que necesitas para llevar tu interpretación al siguiente nivel.<br/> Hemos reunido herramientas y contenidos esenciales para pianistas de todos los niveles, desde estudiantes hasta profesionales.</h3>

  <div class="row text-center g-4 justify-content-center">
    
    <div class="col-6 col-md-2">
      <div class="border rounded p-3 shadow-sm h4_bg">
        <span class="material-symbols-outlined icon_color">
          library_music
        </span>
        <h4 class="mt-2">Partituras</h4>
        
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="border rounded p-3 shadow-sm h4_bg">
        <span class="material-symbols-outlined icon_color">
          media_output
        </span>
        <h4 class="mt-2">Accesorios</h4>
        
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="border rounded p-3 shadow-sm h4_bg">
        <span class="material-symbols-outlined icon_color">
          call
        </span>
        <h4 class="mt-2">Soporte</h4>
      
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class=" rounded p-3 shadow-sm h4_bg">
        <span class="material-symbols-outlined icon_color">
         smart_display
        </span>
        <h4 class="mt-2">Tutoriales</h4>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="border rounded p-3 shadow-sm h4_bg">
        <span class="material-symbols-outlined icon_color">
          apk_install
        </span>
        <h4 class="mt-2">Apps</h4>
        
      </div>
    </div>

  </div>
</div>
