<nav class="navbar navbar-expand-lg sticky-top navbar">
  <div class="container d-flex flex-column align-items-center">

   
    <a class="navbar-brand" href="#">
      <img src="assets/marca.svg" alt="Logo Pianos" class="ps-4 marca" style="max-height: 80px;">
    </a>

  
    <div class="d-flex justify-content-center w-100" id="navbarContent">
      <ul class="navbar-nav flex-row gap-3 text-center padding">
        <li class="nav-item">
          <a class="nav-link text-red active" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/acusticos">Acústicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/digitales">Digitales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/suscribete">Suscríbete</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
