.imagen-banner {
  background-image: url('/assets/pianoBanner_img.webp');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  
  height: 650px; 
  position: relative;
}

.overlay-box {
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 6px;
  max-width: 1000px;
  padding: 10%;
}

.padding{
  padding: 6%;
}