 <hr class="hr">
<div class="container p-5 bg_video my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
<h2 class="text-center mb-4">Conoce un poco del entorno del piano</h2>

      <div class="row g-4">
        <div class="col-12 col-md-4">
          <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aXZ7hioRP7s?si=UiwTjA5L078zLcYq" title="Fabricación piao de cola" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6YYCknOjN38?si=HqE_Av9B8X9zM7rn" title="Fabricación de pianos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID_3" title="Video 3"
                    allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/embed/dlvRcyGBm-0?si=8ITgEA4NYHHcabbl" title="Piano de cola Steinway" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
 </div>
  <hr class="hr">
